<div class="container-fluid text-justify  font-weight-bold"style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); min-height: 600px; color: #c8e2ff;">
  <div class="row ">
    <div class="col-8 offset-2 mt-5 pt-5">
      <h1>Let's enjoy work with shere work! !</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <p>
       To make work more fun and exciting. I made it with the hope that you can work<br>
       with interest in your work and have a lot of communication.To make work more<br>
       fun and exciting. I made it with the hope that you can work with interest in<br>
       your work and have a lot of communication.
      </p>
    </div>
  </div>
  <div class="row  mt-5">
    <div class="col">
      <%=  link_to  new_shop_registration_path do %>
        <button type="button" class="btn btn-primary font-weight-bold mb-3"style="color: #c8e2ff; min-height: 100px;min-width: 200px;"><i class="fas fa-plus-circle"></i> Shop SignUp!</button>
      <% end %>
    </div>
    <div class="col">
      <%=  link_to  new_shop_session_path do %>
        <button type="button" class="btn btn-primary font-weight-bold mb-3 ml-3"style="color: #c8e2ff; min-height: 100px;min-width: 200px;"><i class="fas fa-sign-in-alt"></i> Shop LogIn!</button>
      <% end %>
    </div>
    <div class="col">
      <%=  link_to  new_management_registration_path do %>
        <button type="button" class="btn btn-primary font-weight-bold mb-3"style="color: #c8e2ff; min-height: 100px;"><i class="fas fa-plus-circle"></i> Management SignUp!</button>
      <% end %>
    </div>
    <div class="col">
      <%=  link_to  new_management_session_path do %>
        <button type="button" class="btn btn-primary font-weight-bold mb-3 ml-3"style="color: #c8e2ff; min-height: 100px;"><i class="fas fa-sign-in-alt"></i> Management LogIn!</button>
      <% end %>
    </div>
  </div>
</div>
