

            <nav class=" pr-5 pl-5 d-none d-sm-block" style="background-color: #313a46;">
                <ul class="nav flex-column m-0 p-3">
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light">Pythoo</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link">Django</a></li>
                </ul>
            </nav>
            
           